@import 'base/fonts';
@import 'lib/normalize',
        'lib/slick';

/* general styles */ 
:root {
  --golden: #E2AB3F;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.indent-section {
  margin: 100px auto;
  max-width: 1920px;
}

.title {
  font-family: 'DancingScript';
  color: var(--golden);
  font-size: 96px;
  line-height: 128px;
  font-weight: 400;
  margin-bottom: 100px;
}

[class*='__subtitle'] {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  font-size: 56px;
  color: #000000;
  display: block;
  font-size: 24px;
  line-height: 28px;
}

[class*='__slider'] {
    max-width: 50%;
    height: auto;
}
/* general styles */ 

/* blocks */
@import 'blocks/header';
@import 'blocks/fairy-tail';
@import 'blocks/our-trip';