.fairy-tail {
  &__wrap {
    position: relative;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    display: block;
    margin: -30px 0 0 180px;
  }
  &__slider {
    max-width: 50%;
    height: auto;
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  &__container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
  &__body {
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      font-weight: 400;
    }
  }
}