.header {
  background: url('../img/header-bg.jpg') center bottom / cover no-repeat;
  height: 100vh;
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 72px 0 0 0;
  }
  &__menu-list {
    display: flex;
  }
  // &__menu-item:not(:last-child) {
  //   margin-right: 52px;
  // }
  &__menu-item + .header__menu-item {
    margin-left: 52px;
  }
}