.header {
  background: url('../img/header-bg.jpg') center bottom / cover no-repeat;
  height: 100vh;
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 72px 0 0 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
  }
  &__menu-list {
    display: flex;
  }
  // &__menu-item:not(:last-child) {
  //   margin-right: 52px;
  // }
  &__menu-item + .header__menu-item {
    margin-left: 52px;
  }
  &__menu-link:hover {
    text-decoration: underline;
  }
  &__title {
    padding-top: 152px;
    font-family: 'DancingScript';
    font-weight: 400;
    font-size: 250px;
    line-height: 334px;
    text-align: center;
  }
  &__subtitle {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    font-size: 56px;
    text-align: right;
    margin: -67px 120px 0 0;
  }
  &__phone {
    padding-left: 40px;
    position: relative;
    &:before {
      content: url('../icons/header-phone-icon.svg');
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}